/*字体颜色*/
a, a:hover, a:focus{
	color:#B31800 
}

/*背景颜色*/
body {
	background-color:rgb(222, 231, 240);
	background-image: url('https://img2.plumz.me/flake.png');
}

/*标题栏颜色*/
.navbar.navbar-inverse{
        background-color:rgba(153,20,0,.92)
        }
        
.billboard{
        background:#b8d9fa url(https://img2.plumz.me/billboard.jpg) center center repeat-x;
        background-size:cover;
        padding:170px 0 0px;
        box-shadow:0 2px 8px rgba(0,0,0,.25),0 2px 8px rgba(0,0,0,.12)
        }
/*文章meta字体颜色*/  
 .post-meta{
        color:#999;
        }
        
        
.page-navigator li.current{
        color:#FFF;
        background:#323C3F none repeat scroll 0 0
        }

/*底部导航栏颜色*/
  
.page-navigator>.current>a,.page-navigator>.current>a:focus,.page-navigator>.current>a:hover,.page-navigator>.current>span,.page-navigator>.current>span:focus,.page-navigator>.current>span:hover{
        color:#fff;
        background-color:#008C36;
        border-color:#008C36
        }

.page-navigator>.active>a,.page-navigator>.active>a:focus,.page-navigator>.active>a:hover,.page-navigator>.active>span,.page-navigator>.active>span:focus,.page-navigator>.active>span:hover{
        color:#fff;
        background-color:#008C36;
        border-color:#008C36
        }
        
.page-navigator>li>a,.page-navigator>li>span{
        background-color:#fff;
        }
        
.col-md-3 .panel .item{
        color:#555;
        } 
        
        
/*侧边标题颜色*/
.col-md-3 .panel a.panel-heading{
        background-color:#B31800
        }
        
a:hover.item{
        background-color:#eee
        }

/*最底部颜色*/
footer .footer-bottom{
        background:rgba(27,33,34,.92)
        }
        
footer .footer-bottom{
        color:#aaa;
        }
        
footer .footer-bottom ul.footer-nav li a{
        color:#aaa;   
        }
        
/*侧边栏个人介绍*/
.clearfix a {color: #ffffff;}
.clearfix a:hover {color: #b7b6b6;}

/*tag颜色*/
.badge{
        color:#FFF;
        background-color:#008C36;
        }

.col-md-9 .badge{
        color:#FFF;
        background-color:#FF7073;
        }
        
/*tag云标签颜色*/
.badge>a{
        color:#FFF;
        background-color:#008C36
        }

/*底部名言颜色*/
.alert-info{
        background-color:#796fc3
        }

/*标签*/
.label{
	background-color:#008C36;
	}
	
/*标签*/
.label-tag{
	background-color:#008C36;
}

.label>a{
	color:#FFF;
	}

.meta-nav>p{
	color:#555;
	}

.meta-nav-narrow>p{
	color:#555;
	}

.meta-nav-narrow>p>a{
	color:#555
	}

.meta-nav>p>a{
	color:#555
	}

/*下面上一篇下一篇的颜色*/
.btn-default:not(.btn-link):not(.btn-flat){
	background-color:#796fc3;
	color:rgba(255, 255, 255);
	}

.btn.disabled{
	background-color:#1B9EDF;
	}


/*几个按钮颜色*/

.btn-info:not(.btn-link):not(.btn-flat){
background-color:#008C36
	}

/*回复按钮颜色*/
.btn-danger:not(.btn-link):not(.btn-flat){
	background-color:#796fc3;
	color:rgb(255, 255, 255)
	}
/*确认按钮颜色*/
.btn-success:not(.btn-link):not(.btn-flat){
background-color:#B31800
	}

btn-success:hover:not(.btn-link):not(.btn-flat){
background-color:#008C36
	}

.btn-primary:not(.btn-link):not(.btn-flat){
background-color:#008C36
	}


.btn-success.btn-flat:not(.btn-link){
background-color:#008C36
	}
.label-success{
	background-color:#4caf50
	}

/* 文章目录树 */
.index-box-title {
    background-color: #B31800;
    color: rgba(255,255,255,.84);
	}

.index-box-title:hover, .index-box-title:focus{
    color: rgba(255,255,255,.84);
	}

.index-box .index-item,
.index-box .index-link {
    color: #333333;
	}

.index-box .index-item.current > .index-link {
    background-color: rgba(238, 238, 238, 1);
    border-left: 3px solid #ff6651;
	}
	
.index-box .index-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    }
    
    
    
/* 黑暗配色（跟随系统） */
@media (prefers-color-scheme: dark) {
    /* 背景色*/
    body {
        /*background-color: #2c2a2a;*/
        background-color: #3e3e3e;
        color: #f0f0f0;
	 background-image: url('https://img2.plumz.me/flake_dark.png');
    }

    /* header */
    .navbar.navbar-inverse {
        background-color: rgba(53, 54, 58, .92);
    }

    /* banner */
    .billboard {
        opacity: 0.75;
        filter: alpha(opacity=40);
        background:#b8d9fa url(https://img2.plumz.me/billboard.jpg) center center repeat-x;
        background-size:cover;
    }
    
   
    /* 搜索框 
    .btn-primary:not(.btn-link):not(.btn-flat) {
        background-color: #1d1d1d;
    }

    .btn-primary:hover:not(.btn-link):not(.btn-flat) {
        background-color: #131212;
    }

    .btn-primary:active:not(.btn-link):not(.btn-flat) {
        background-color: #353535;
    }
*/
    /* 搜索输入框 */
    .form-control-wrapper .form-control:invalid {
        background-image: linear-gradient(#2c2a2a, #2c2a2a), linear-gradient(#d2d2d2, #d2d2d2);
    }

    .form-control:focus, .form-control.focus {
        background-image: linear-gradient(#2c2a2a, #2c2a2a), linear-gradient(#d2d2d2, #d2d2d2);
    }

    /* 搜索输入框文字点击 */
    .form-control-wrapper .form-control:focus ~ .floating-label {
        color: #ffffff;
    }

    /* 搜索输入框文字清空 */
    .form-control-wrapper .form-control:not(.empty):invalid ~ .floating-label, .form-control-wrapper .form-control.focus:invalid ~ .floating-label {
        color: #ffffff;
    }

    /* 侧栏头部颜色 */
    .col-md-3 .panel a.panel-heading {
        background-color: #2c2a2a;
    }

    /* 侧栏边框 */
    .col-md-3 .panel .item {
        border: 1px solid #313131;
        color: #f0f0f0;;
    }

    .col-md-3 .panel .item:hover {
        background: #5d5d5d;
    }

    /* 文章页 */
    .panel {
        background-color: #35363A;
    }

    /* 文章悬浮目录 */
    .index-box-title {
        background-color: #2c2a2a;
    }

    .index-box .index-item, .index-box .index-link {
        color: #eee;
        background: #35363a;
    }

    .index-box .index-item.current > .index-link {
        background-color: #5d5d5d;
    }

    .index-box .index-link:hover {
        background-color: #5d5d5d;
    }

    /* 文章页超链接 */
    a, a:hover, a:focus {
        color: #f0f0f0;
    }

    /* 文章代码块 */
    pre {
        background-color: #464646;
        border: 1px solid #6f6f6f;
    }

    .hljs {
        color: #eee;
        background-color: #464646;
    }
    



    /* 文章版权 */
    .post-copyright {
        background-color: #2f2f31;
        color: #999;
    }

    /* 文章下面提示框 */
    .alert-info, .alert-success {
        background-color: #2c2a2a;
    }

    .alert-warning {
        background-color: #4c4c4c;
    }

    /* 翻页按钮 */
    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover {
        background-color: #2c2a2a;
        border-color: #2c2a2a;
    }

    .pagination > li > a, .pagination > li > span {
        color: #fff;
        background-color: #464646;
        border: 1px solid #565656;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #fff;
        background-color: #7b7b7b;
        border-color: #7b7b7b;
    }

    /* 评论框 */
    #comments .comment-list li {
        background-color: #35363a;
    }

    /* 评论框左侧文字 */
    label.col-sm-1.control-label.required, .form-control {
        color: #f0f0f0;
    }

    /* 底部前后上下一篇文字 */
    .meta-nav > p > a{
        color: #999;
    }
    
    .meta-nav-narrow>p{
	color:#999;
	}

    .meta-nav-narrow>p>a{
	color:#999;
    
     /* 评论框内容俩字 */
    .form-group .control-label, .form-group-default .control-label{
        color: #f0f0f0;
    }

    /* 输入框预留字体 */
    input.form-control::-webkit-input-placeholder {
        color: #696969;
    !important;
    }

    #textarea::-webkit-input-placeholder {
        color: #696969;
    }

    /* 评论表情 */
    .face {
        background: #35363A;
    }

    .face:hover {
        background: #545454;
    }

    /* 表情框 */
    #smiliesbox::-webkit-scrollbar-thumb {
        background-color: #2c2a2a;
    }

    /* 评论按钮 */
    .btn-success:not(.btn-link):not(.btn-flat) {
        background-color: #1b1b1b;
    }

    .btn-success:hover:not(.btn-link):not(.btn-flat) {
        background-color: #2d2d2d;
    }

    /* 评论输入框下框颜色 */
    .form-group .form-control:focus {
        background-image: linear-gradient(#545454, #545454), linear-gradient(#d2d2d2, #d2d2d2);
    }

    /* 向上按钮 
    .btn-info:not(.btn-link):not(.btn-flat) {
        background-color: #151515;
        color: #fff;
    }

    .btn-info:hover:not(.btn-link):not(.btn-flat) {
        background-color: #2d2d2d;
    }

    .btn-info:active:not(.btn-link):not(.btn-flat) {
        background-color: #3e3e3e;
    }
*/
    /* 关于我 */
    .name a {
        color: #fff !important;
    }

    #timeline li {
        color: #969696;
    }

    #timeline li:hover {
        color: #c7c7c7 !important;
    }

    /* 友链页面 */
    .link-box a .content .title {
        color: #fff;
    }

    .link-box a .content {
        background-color: #2c2a2a;
    }

    .link-box a {
        background: #35363a;
        height: 90%;
    }

    .link-box a .thumb {
        height: 70%;
    }
    
/*标签*/
    .label {
	background-color:#9e9e9e;
}


    .label-tag{
	background-color:#9e9e9e;
}
    /* 表格 */
    .post-content table tr:nth-child(2n), .post-content thead {
        background: #46484e;
    }
    .cPlayer, .c-context {
        color: #35363a;
    }
}


